<%- include('components/header'); -%>
<div class="container">
    <div class="alert alert-danger mt-3" role="alert">
        Something is wrong, access is forbiden.
    </div>
</div>
<%- include('components/footer'); -%>