<%- include('components/header'); -%>
<div class="container">
    <div class="card">
        <div class="card-header">
            Simplify your life with MemoColor.
        </div>
        <div class="card-body">
            It's simple and easy to use. In any situation, you can quickly create notes and lists.
            Write all the things you need in one place, from short notes to longer documents.
        </div>
        <div class="card-footer">
            <a id="get-started" class="btn btn-primary" href="<%= url('sing-up') %>">Get started</a>
        </div>
    </div>
</div>
<%- include('components/footer'); -%>