.card {
  margin: 10px 10px 10px 10px;
  max-width: 100%;
}

.full{
  width: 100%;
}

textarea{
  height: 50vh;
}

.action{
  float: right;
}
button {
  display: table-cell;
  margin-right: 8px;
}



